<div
  data-template-root="true"
  data-template-id="birthday-party"
  data-template-name="Birthday Party (Confetti)"
  data-background-color="#17181d"
  data-animation-type="confetti"
>
  <div data-element-id="b-bg-panel" data-type="shape" data-fill="#1f2026" style="left:52px;top:56px;width:496px;height:690px;"></div>
  <div data-element-id="b-star-1" data-type="character" data-character-part="heart" data-fill="#e8c870" style="left:88px;top:96px;width:16px;height:16px;"></div>
  <div data-element-id="b-star-2" data-type="character" data-character-part="heart" data-fill="#e8c870" style="left:500px;top:128px;width:16px;height:16px;"></div>

  <div data-element-id="b-line-1" data-type="text" data-font-size="36" data-font-family="Cormorant Garamond" data-fill="#efd792" style="left:146px;top:112px;width:320px;height:50px;">You're invited to</div>
  <div data-element-id="b-line-2" data-type="text" data-font-size="86" data-font-family="Playfair Display" data-fill="#efd792" style="left:96px;top:170px;width:410px;height:110px;">Birthday</div>
  <div data-element-id="b-line-3" data-type="text" data-font-size="62" data-font-family="Playfair Display" data-fill="#efd792" style="left:168px;top:265px;width:265px;height:84px;">Night</div>

  <div data-element-id="b-time" data-type="text" data-font-size="30" data-font-family="Cormorant Garamond" data-fill="#dabb67" style="left:185px;top:350px;width:240px;height:46px;">Friday • 9 PM</div>
  <div data-element-id="b-place" data-type="text" data-font-size="24" data-font-family="Inter" data-fill="#dabb67" style="left:152px;top:404px;width:300px;height:34px;">Skyline Lounge, Level 21</div>
  <div data-element-id="b-rsvp-rule" data-type="shape" data-fill="#8f7a45" style="left:150px;top:462px;width:300px;height:1px;"></div>
  <div data-element-id="b-rsvp" data-type="text" data-font-size="21" data-font-family="Inter" data-fill="#dabb67" style="left:177px;top:477px;width:250px;height:30px;">RSVP 321-765-8890</div>

  <div data-element-id="b-box-left" data-type="shape" data-fill="#2a2b31" style="left:56px;top:620px;width:104px;height:168px;"></div>
  <div data-element-id="b-box-right" data-type="shape" data-fill="#2a2b31" style="left:440px;top:620px;width:104px;height:168px;"></div>
  <div data-element-id="b-heart-left" data-type="character" data-character-part="heart" data-fill="#efd792" style="left:92px;top:552px;width:66px;height:66px;"></div>
  <div data-element-id="b-heart-right" data-type="character" data-character-part="heart" data-fill="#efd792" style="left:442px;top:552px;width:66px;height:66px;"></div>

  <div data-element-id="b-cta" data-type="button" data-button-type="yes" data-text="Count Me In" data-font-size="19" data-fill="#dabb67" style="left:210px;top:742px;width:180px;height:46px;"></div>
</div>
