<div
  data-template-root="true"
  data-template-id="birthday"
  data-template-name="Birthday"
  data-background-color="#e9b8cd"
>
  <div data-element-id="g-band-1" data-type="shape" data-fill="#8d5a7f" style="left:0px;top:0px;width:600px;height:250px;"></div>
  <div data-element-id="g-band-2" data-type="shape" data-fill="#ab7698" style="left:0px;top:220px;width:600px;height:150px;"></div>
  <div data-element-id="g-band-3" data-type="shape" data-fill="#d3a0b7" style="left:0px;top:360px;width:600px;height:440px;"></div>

  <div data-element-id="g-line-1" data-type="text" data-font-size="22" data-font-family="Inter" data-fill="#f7e8f0" style="left:178px;top:112px;width:250px;height:30px;">Sparkle Night</div>
  <div data-element-id="g-line-2" data-type="text" data-font-size="80" data-font-family="Playfair Display" data-fill="#fff4fa" style="left:98px;top:160px;width:404px;height:100px;">BIRTHDAY</div>
  <div data-element-id="g-line-3" data-type="text" data-font-size="74" data-font-family="Playfair Display" data-fill="#fff4fa" style="left:172px;top:240px;width:250px;height:92px;">SOIREE</div>

  <div data-element-id="g-copy-1" data-type="text" data-font-size="32" data-font-family="Cormorant Garamond" data-fill="#6f3f59" style="left:138px;top:370px;width:330px;height:44px;">Honoring A Special Star</div>
  <div data-element-id="g-copy-2" data-type="text" data-font-size="24" data-font-family="Inter" data-fill="#6f3f59" style="left:184px;top:420px;width:240px;height:32px;">turning 10 in style</div>
  <div data-element-id="g-copy-3" data-type="text" data-font-size="22" data-font-family="Inter" data-fill="#6a324f" style="left:150px;top:494px;width:340px;height:30px;">Saturday, October 12th</div>
  <div data-element-id="g-copy-4" data-type="text" data-font-size="22" data-font-family="Inter" data-fill="#6a324f" style="left:196px;top:530px;width:240px;height:30px;">from 6 PM - 10 PM</div>
  <div data-element-id="g-copy-5" data-type="text" data-font-size="22" data-font-family="Inter" data-fill="#6a324f" style="left:164px;top:566px;width:290px;height:30px;">Lumen Hall, Downtown</div>
  <div data-element-id="g-copy-6" data-type="text" data-font-size="22" data-font-family="Inter" data-fill="#6a324f" style="left:177px;top:602px;width:260px;height:30px;">RSVP 789.123.4560</div>

  <div data-element-id="g-cta" data-type="button" data-button-type="yes" data-text="Save My Spot" data-font-size="19" data-fill="#7c4360" style="left:205px;top:740px;width:190px;height:48px;"></div>
</div>
