<div
  data-template-root="true"
  data-template-id="holi-fest"
  data-template-name="Holi Festival (Music)"
  data-background-color="#fcf9ec"
  data-animation-type="holi"
  data-music-url="https://www.soundhelix.com/examples/mp3/SoundHelix-Song-1.mp3"
>
  <div data-element-id="h-header" data-type="text" data-font-size="22" data-font-family="Cormorant Garamond" data-fill="#317093" style="left:172px;top:88px;width:260px;height:30px;">Color season is here!</div>
  <div data-element-id="h-title-top" data-type="text" data-font-size="22" data-font-family="Inter" data-fill="#c64543" style="left:130px;top:138px;width:350px;height:30px;">CELEBRATE WITH US</div>
  <div data-element-id="h-title" data-type="text" data-font-size="62" data-font-family="Playfair Display" data-fill="#1e485d" style="left:148px;top:182px;width:308px;height:78px;">SPRING SPLASH</div>

  <div data-element-id="h-copy-1" data-type="text" data-font-size="23" data-font-family="Inter" data-fill="#c64543" style="left:116px;top:272px;width:374px;height:32px;">Music, dance & bright vibes</div>
  <div data-element-id="h-copy-2" data-type="text" data-font-size="22" data-font-family="Inter" data-fill="#c64543" style="left:142px;top:312px;width:330px;height:30px;">Sunday, April 20, 2026</div>
  <div data-element-id="h-copy-3" data-type="text" data-font-size="22" data-font-family="Cormorant Garamond" data-fill="#1e485d" style="left:132px;top:350px;width:350px;height:30px;">Sunset Grounds, River Road</div>
  <div data-element-id="h-copy-4" data-type="text" data-font-size="20" data-font-family="Inter" data-fill="#c64543" style="left:130px;top:390px;width:350px;height:28px;">White fits, color hits!</div>

  <div data-element-id="h-powder-base" data-type="shape" data-fill="#f5df98" style="left:0px;top:600px;width:600px;height:200px;"></div>
  <div data-element-id="h-powder-1" data-type="character" data-character-part="heart" data-fill="#e99497" style="left:58px;top:588px;width:66px;height:66px;"></div>
  <div data-element-id="h-powder-2" data-type="character" data-character-part="heart" data-fill="#53c0cc" style="left:170px;top:596px;width:64px;height:64px;"></div>
  <div data-element-id="h-powder-3" data-type="character" data-character-part="heart" data-fill="#f16f60" style="left:282px;top:592px;width:66px;height:66px;"></div>
  <div data-element-id="h-powder-4" data-type="character" data-character-part="heart" data-fill="#b58de4" style="left:394px;top:596px;width:64px;height:64px;"></div>
  <div data-element-id="h-powder-5" data-type="character" data-character-part="heart" data-fill="#e8e46e" style="left:494px;top:590px;width:66px;height:66px;"></div>

  <div data-element-id="h-cta" data-type="button" data-button-type="yes" data-text="I'm Joining" data-font-size="19" data-fill="#c64543" style="left:206px;top:736px;width:188px;height:48px;"></div>
</div>
