<div
  data-template-root="true"
  data-template-id="valentine"
  data-template-name="Valentine (Interactive)"
  data-background-color="#f9edf0"
  data-success-message="Yay! I knew you would say yes! ❤️"
  data-rejection-message="Nope. That answer is too cute to accept."
>
  <div data-element-id="v-heart-1" data-type="character" data-character-part="heart" data-fill="#e99497" style="left:64px;top:112px;width:24px;height:24px;"></div>
  <div data-element-id="v-heart-2" data-type="character" data-character-part="heart" data-fill="#e99497" style="left:514px;top:104px;width:24px;height:24px;"></div>
  <div data-element-id="v-heart-3" data-type="character" data-character-part="heart" data-fill="#e99497" style="left:96px;top:610px;width:20px;height:20px;"></div>
  <div data-element-id="v-heart-4" data-type="character" data-character-part="heart" data-fill="#e99497" style="left:486px;top:618px;width:20px;height:20px;"></div>
  <div data-element-id="v-card" data-type="shape" data-fill="#fff7f8" style="left:90px;top:205px;width:420px;height:260px;"></div>

  <div data-element-id="v-title-line-1" data-type="text" data-font-size="42" data-font-family="Playfair Display" data-fill="#2f2c28" style="left:112px;top:246px;width:380px;height:60px;">Will you be my</div>
  <div data-element-id="v-title-line-2" data-type="text" data-font-size="48" data-font-family="Playfair Display" data-fill="#b24e58" style="left:175px;top:300px;width:255px;height:62px;">Valentine?</div>
  <div data-element-id="v-subtitle" data-type="text" data-font-size="18" data-font-family="Inter" data-fill="#b24e58" style="left:206px;top:356px;width:210px;height:28px;">choose your answer</div>

  <div data-element-id="v-yes" data-type="button" data-button-type="yes" data-text="Yes" data-font-size="16" data-fill="#22c55e" style="left:215px;top:398px;width:74px;height:38px;"></div>
  <div data-element-id="v-no" data-type="button" data-button-type="no" data-text="No" data-font-size="16" data-fill="#ef4444" style="left:310px;top:398px;width:74px;height:38px;"></div>
</div>
